.filter-sec{
    width: 70%;
    max-width: 700px;
    box-shadow: 0 0 55px 0 rgb(226, 68, 160);
    padding: 25px;
    form{
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit , minmax(250px , 1fr) );
      gap: 20px;
    }
    div{
      display: flex;
      flex-direction: column;
    }
    div input ,
    div select{
      padding: 10px 15px;
      margin-top: 5px;
      border-radius: 5px;
      font-family: 'Poppins', sans-serif;  }
      div:last-child{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        
      }
      margin: 20px auto 80px;
}