header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 20px;
    nav{
        display: flex;
        gap: 20px;
        a{
            text-decoration: none;
            color: rgb(226,68,160);
            font-size: 19px;
 
        }
        .active{
            text-shadow: 0 0 20px pink;
        }
    }
    .header-left{
        display: flex;
        align-items: center;
        justify-content: center;
        .header-img{
            width: 60px;
            margin-right:10px ;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8); /* Beyaz gölge efekti, rgba ile şeffaflık ayarlanabilir */

        }
    }
}